<html>
  <head>
        <title>PassKey - Register </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  </head>
  <body>
    <!-- Add a header to the page -->
    <header>
      <div class="logo">PassKey - Register</div>
      <div class="navigation">
  
            <a href="/login">Login</a>


      </div>
    </header>
    <!-- Add a main section to the page -->
        <div class="container">
				<h1><span class="blue">&lt;</span>PassKey<span class="blue">&gt;</span> <span class="yellow">Create a PassKey Account</pan></h1>
		    <form action="/register" method="post">
         <div class="group">      
          <input type="text" name="email" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email</label>
        </div>

        <div class="group">      
          <input type="password" name="password" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Password</label>
        </div>

        <input type="submit" value="Login">
        <br>
        <!-- Display the flash messages -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}<p>
          {% endfor %}
        {% endif %}
        {% endwith %}
        <br>
        <a class="loginregister" style="padding-top: 1%" href="/login">Login</a>
    </form>
	</div>
    </body>
</html>
