<html>
  <head>
        <title>PassKey - Share</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  </head>
  <body>
    <!-- Add a header to the page -->
    <header>
      <div class="logo">PassKey - Share</div>
        <div class="navigation">
        <a>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}<p>
          {% endfor %}
        {% endif %}
        {% endwith %}
        </a>

        
      </div>
    </header>

	    </div>
        <div class="right-container">
            <h1><span class="blue">&lt;</span>PassKey<span class="blue">&gt;</span> <span class="yellow">Share</pan></h1>
            <h2>Created by <a href="https://github.com/lucabln05" target="_blank">Luca Bellon</a></h2>
                <table class="container">
                <thead>
                    <tr>
                    <th><h1>Services</h1></th>
                    <th><h1>Email</h1></th>
                    <th><h1>Password</h1></th>
                    <th><h1>URL</h1></th>
                    </tr>
                </thead>

                <tbody>
                {% for row in data %}   
                    <tr>
                        <td>{{row[1]}}</td>
                        <td id="{{row[0]}}2" onclick="javascript:document.getElementById('{{row[0]}}2').addEventListener('click', function() {navigator.clipboard.writeText(document.getElementById('{{row[0]}}2').innerHTML);});">{{row[2]}}</td>
                        <td class="hidetext" id="{{row[0]}}3" onclick="javascript:document.getElementById('{{row[0]}}3').addEventListener(&quot;click&quot;,function(){navigator.clipboard.writeText(document.getElementById('{{row[0]}}3').innerHTML);document.getElementById('{{row[0]}}3').className=document.getElementById('{{row[0]}}3').className===&quot;hidetext&quot;?&quot;showtext&quot;:&quot;hidetext&quot;;setTimeout(function(){document.getElementById('{{row[0]}}3').className=&quot;hidetext&quot;;},5000);});">{{row[3]}}</td>
                        <td><a href="//{{row[4]}}" target="_blank" rel="noopener" >{{row[4]}}</a></td>
                    </tr>

                </script>
                    
                

                </tbody>
                </table>
                <h2>Shared by <a href="https://github.com/lucabln05" target="_blank">{{row[0]}}</a></h2>
                  {%endfor%}

                    </div>
        <h1><a href="https://github.com/pablorgarcia"></a>Table from Pablo García</h1>   
      <button class="add-button" onclick="location.href='/add'">+</button>
    </body>
</html>
